body {
	font: normal 100% 'LucidaGrande', 'HelveticaNeue', Tahoma, Verdana, Arial, sans-serif;
	background: #aaa;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
* {
	box-sizing: border-box;
}

/* backgrounds */
.bg-01d {
	background-image: url(../images/clear-sky-day.jpg);
}
.bg-01n {
	background-image: url(../images/clear-sky-night.jpg);
}
.bg-02d {
	background-image: url(../images/few-clouds-day.jpg);
}
.bg-02n {
	background-image: url(../images/few-clouds-night.jpg);
}
.bg-03d {
	background-image: url(../images/scattered-clouds-day.jpg);
}
.bg-03n {
	background-image: url(../images/scattered-clouds-night.jpg);
}
.bg-04d {
	background-image: url(../images/broken-clouds-day.jpg);
}
.bg-04n {
	background-image: url(../images/broken-clouds-night.jpg);
}
.bg-09d {
	background-image: url(../images/shower-rain-day.jpg);
}
.bg-09n {
	background-image: url(../images/shower-rain-night.jpg);
}
.bg-10d {
	background-image: url(../images/rain-day.jpg);
}
.bg-10n {
	background-image: url(../images/rain-night.jpg);
}
.bg-11d {
	background-image: url(../images/lightning-sky-day.jpg);
}
.bg-11n {
	background-image: url(../images/lightning-sky-night.jpg);
}
.bg-13d {
	background-image: url(../images/snow-day.jpg);
}
.bg-13n {
	background-image: url(../images/snow-night.jpg);
}
.bg-50d {
	background-image: url(../images/mist-day.jpg);
}
.bg-50n {
	background-image: url(../images/mist-night.jpg);
}

#forecast {
	font-family: 'Open Sans';
}
#forecast p[class^=icon] {
	/*font-size: 5em;*/
}
#city-name {
	/*background: transparent;*/
	/*border-color: #444;*/
	/*color: #ccc;*/
	/*margin: 1em;*/
}

/* main values */
.main-description {
	font-size: 5vmin;
}
.main-temp {
	font-size: 25vmin;
}

/* params */
.param-name {
	font-size: 4vmin;
}
.param-value {
	font-size: 8vmin;
}
.param-unit {
	font-size: 4vmin;
}
.param-value:before {
	content: '';
	display: block;
}

/* box */
.box {
	/*background-color: rgba(0, 0, 0, .25);*/
	background-color: rgba(240, 240, 240, .35);
	/*padding: .5em;*/
	/*margin: .5em 0;*/
}
h2 {
	font-size: 4em;
}
.sub-day-temp,
.sub-night-temp {
	font-size: 3em;
}
.sub-day-temp span,
.sub-night-temp span {
	padding: 0 .25em;
}
.sub-night-temp span {
	background-color: rgba(0, 0, 0, .5);
	color: #ccc;
	border-radius: 4px;
}

.night {
	color: #aaa;
}
.night .main-temp,
.night .param-value {
	color: #ddd;
}

.day .param {
	/*text-shadow: 1px #fff 0 1px 0;*/
}
.night .param {
	/*text-shadow: #fff 0 1px 1px;*/
	/*color: #aaa;*/
}

header {
	/*padding: 1em;*/
}


footer {
	display: none !important;
}

.weather-icon svg {
	width: 300px;
	height: 300px;
}

svg {
	/*width: 200px !important;*/
	/*height: 200px !important;*/
	/*display: none;*/
}
#config-box {
	/*background: red;*/
}
#main-box {
	/*background: green;*/
}
#sub-box {
	/*background: blue;*/
}

.flex-row {
	display: flex;
	justify-content: space-around;
	/*margin: 5vw;*/
	/*flex-wrap: wrap;*/
	align-items: center;
}
.flex-row-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-box {
	display: _flex;
}
.box {
	/*margin: 5vmin;*/
	/*background: #aaa;*/
}


/* icomoon */
h3 {
	font-size: 5em;
}


@media only screen 
/*and (min-device-width: 375px) */
/*and (max-device-width: 667px) */
/*and (-webkit-min-device-pixel-ratio: 2)*/
and (orientation: portrait) {
	.flex-row {
		flex-wrap: wrap;
	}
	#config-box {
		/*width: 95vw;*/
		height: 10vh;
		margin: 2.5vmin;
	}
	#main-box,
	#sub-box {
		
		
		/*margin: 10vh;*/
	}
	#main-box {
		width: 95vw;
		height: 40vh;
		/*height: 40vh;*/
		margin: 0 2.5vw 2.5vw;
	}
	#sub-box {
		width: 95vw;
		/*height: 50vh;*/
		/*width: 100vw;*/
		/*width: 95vw;*/
		/*margin: 2.5vh;*/
	}

	.forecast-box {
		width: 30vw;
		height: 40vh;
	}
	.weather-icon svg {
		width: 25vmin;
		height: 25vmin;
	}
	.main-temp {
		font-size: 20vmin;
	}
}
@media only screen 
/*and (min-device-width: 375px) */
/*and (max-device-width: 667px) */
/*and (-webkit-min-device-pixel-ratio: 2)*/
and (orientation: landscape) { 
	#config-box {
		height: 20vh;
		margin: 5vh 5vh 0;
	}
	#main-box,
	#sub-box {
		width: 50vw;
		height: 65vh;
		margin: 5vh;
	}
	#main-box {
		margin-right: 2.5vh;
	}
	#sub-box {
		margin-left: 2.5vh;
	}

	.forecast-box {
		width: 30vw;
		height: 65vh;
	}
	.weather-icon svg {
		width: 25vmin;
		height: 25vmin;
	}
	.main-temp {
		font-size: 20vmin;
	}
	
}