		<header id="config-box" class="flex-row box">
			<!-- <div class="nav-bar"> -->
			<form id="search-form" class="_flex-box form-inline" href="#weather">
				<div class="input-group input-group-lg">
					<input id="city-name" type="text" class="form-control" value="{{name}}" placeholder="Search for city...">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
			</form>
			<!-- </div> -->
		</header>
		<section class="flex-row _row">
			<div id="main-box" class="flex-box box __col-xs-12 _col-sm-6">
				<div class="text-center">
					<div class="_row">
						<p class="weather-icon"></p>
						<p class="main-temp">{{temp}}&deg;</p>
					</div>
					<p class="main-description">{{list.0.weather.0.description}}</p>
				</div>
			</div>
			<div id="sub-box" class="flex-box">
				<div class="flex-row-between">
				{{#each days}}
					<div class="forecast-box flex-box box text-center">
						<h2>{{day}}</h2>
						<h3 class="{{icon}}"></h3>
						<p class="param">
							<!-- <span class="param-name">Temp</span> -->
							<span class="param-value">{{temp}}</span>
							<span class="param-unit">&deg;C</span>
						</p>
					</div>
				{{/each}}
				</div>
			</div>
		</section>