		<header id="config-box" class="flex-row box">
			<!-- <div class="nav-bar"> -->
			<form id="search-form" class="_flex-box form-inline" href="#weather">
				<div class="input-group input-group-lg">
					<input id="city-name" type="text" class="form-control" value="{{name}}" placeholder="Search for city...">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
			</form>
			<!-- </div> -->
		</header>
		<section class="flex-row _row">
			<div id="main-box" class="flex-box box __col-xs-12 _col-sm-6">
				<div class="text-center">
					<!-- <p class="main-description">{{weather.0.description}}</p> -->
					<div class="_row">
						<p class="weather-icon _col-xs-6 _visible-xs-6"></p>
						<!-- <p class="main-temp _col-xs-6 _visible-xs-6">{{temp}}&deg;</p> -->
					</div>
					<p class="main-description">{{weather.0.description}}</p>
				</div>
			</div>
			<div id="sub-box" class="flex-box box">
				<div class="_box _row text-center">
					<!-- <p class="main-description">{{weather.0.description}}</p> -->
					<p class="main-temp">{{temp}}&deg;</p>
					<div class="row">
						<p class="col-xs-6 param">
							<span class="param-name">Humidity</span>
							<span class="param-value">{{main.humidity}}</span>
							<span class="param-unit">%</span>
						</p>
						<p class="col-xs-6 param">
							<span class="param-name">Pressure</span>
							<span class="param-value">{{main.pressure}}</span>
							<span class="param-unit">hPa</span>
						</p>
					</div>
				</div>
			</div>
		</section>