		<header>
			<!-- <h1>{{name}}</h1> -->
			<form class="form-inline" href="#weather">
				<input id="city-name" class="input-lg form-control" value="{{#if name}}{{name}}{{else}}Toronto{{/if}}" placeholder="city name">
				<input type="submit" class="btn btn-default btn-lg"value="Search">
			</form>
		</header>
		<section id="main" class="row">
			<div class="col-xs-6 col-md-6">
				<div class="box">
					<p class="weather-icon"></p>
				</div>
			</div>
			<!-- <div class="clearfix visible-xs-block"></div> -->
			<div class="col-xs-6 col-md-6">
				<div class="box text-center">
					<p class="main-description">{{weather.0.description}}</p>
					<p class="main-temp">{{temp}}&deg;</p>
					<p>{{weather.0.icon}}</p>
					<p>{{dayTime}}</p>

					<div class="row">
						<p class="col-xs-6 param">
							<span class="param-name">Humidity</span>
							<span class="param-value">{{main.humidity}}</span>
							<span class="param-unit">%</span>
						</p>
						<p class="col-xs-6 param">
							<span class="param-name">Pressure</span>
							<span class="param-value">{{main.pressure}}</span>
							<span class="param-unit">hPa</span>
						</p>
						<!-- <p class="col-xs-6 param">
							<span class="param-name">Sunrise</span>
							<span class="param-value">{{sunrise}}</span>
						</p>
						<p class="col-xs-6 param">
							<span class="param-name">Sunset</span>
							<span class="param-value">{{sunset}}</span>
						</p> -->
					</div>
					<!-- <p class="param">Sunrise: <span>{{sys.sunrise}}</span></p> -->
					<!-- <p class="param">Sunset: <span>{{sys.sunset}}</span></p> -->
				</div>
			</div>
		</section>
		
		<footer class="row">
			<span class="pill">
				<input type="text" class="input first" placeholder="type city"><!--
				--><input type="button" class="button last" value="Check">
			</span>

			<span id="units" class="pill">
				<span class="first active" data-unit="C">&deg;C</span><!--
				--><span class="last" data-unit="F">&deg;F</span>
			</span>
		</footer>